<footer class="bg-black text-blue py-4 mt-5">

  <div class="container d-flex flex-column align-items-center justify-content-center">

    <p class="mb-1 text-center" style="font-size: 10px;">&copy; <%= new Date().getFullYear() %> Eros Unlimited. Todos os direitos reservados.</p>
    <p class="text-center" style="font-size: 10px;">Desenvolvido por Qualitech</p>

  </div>
  
</footer>
