<footer class="bg-black py-4 mt-5" style="color: #dc3545;">

  <div class="container d-flex flex-column align-items-center justify-content-center">

    <p class="mb-1 text-center" style="font-size: 12px;">&copy; <%= new Date().getFullYear() %> Eros Unlimited. Todos os direitos reservados.</p>
    <p class="text-center" style="font-size: 12px;">Desenvolvido por Qualitech</p>

  </div>
  
</footer>
